/* .app{
    background: url('/1_atms/public/images/1350.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    outline: none;
}

.accordion.active, .accordion:hover, .accordion:focus {
    background-color: #ccc;
    outline: none;
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    display: block;
}

.menutab, .menutab:active, .menutab:hover, .menutab:active {
    color:black;
}

textarea {
    resize: none;
}

.noborder, .noborder:hover{
    border: 0;
    color: gray;
    font-weight: bold;
}

.sidetab{
    color: gray;
}

.noborder.alink{
    border-left: 5px solid blue;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

@media only screen and (max-width: 768px) {        
    .hidewhensmall{
        display: none;
    }
    .showwhensmall{
        display: block;
    }
}

.stat1{
    color: whitesmoke;
    /* background-image: linear-gradient(to right,#F1948A ,#F5B7B1); */
    /* background-color: #F1948A; */
    /* color: #E74C3C;
    border: 2px solid;
    border-color: #E74C3C; */
    background-color: #E74C3C;
}
.stat1-2{
    color: whitesmoke;
    /* background-image: linear-gradient(to right,#F1948A ,#F5B7B1); */
    background-color: #F1948A;
    /* color: #E74C3C;
    border: 2px solid;
    border-color: #F1948A; */
}
.stat2{
    color: whitesmoke;
    /* background-image: linear-gradient(to right,#0277BD ,#0288D1); */
    /* background-color: #7FB3D5; */
    /* color: #8E44AD;
    border: 2px solid;
    border-color: #8E44AD; */
    background-color: #8E44AD;
}
.stat2-2{
    color: whitesmoke;
    /* background-image: linear-gradient(to right,#0277BD ,#0288D1); */
    background-color: #BB8FCE;
    /* color: #8E44AD; */
    /* border: 2px solid; */
    border-color: #BB8FCE;
}
.stat3{
    color: whitesmoke;
    /* background-image: linear-gradient(#0288D1 ,#039BE5); */
    /* background-color: #76D7C4; */
    /* color: #3498DB;
    border: 2px solid;
    border-color: #3498DB; */
    /* background-color: #3498DB; */
    background-color: #707B7C;
}
.stat3-2{
    color: whitesmoke;
    /* background-image: linear-gradient(#0288D1 ,#039BE5); */
    /* background-color: #85C1E9; */
    /* color: #3498DB;
    border: 2px solid; */
    background-color: #99A3A4;
}
.stat4{
    color: whitesmoke;
    /* background-image: linear-gradient(to bottom right,#039BE5 ,#03A9F4); */
    /* background-color: #F8C471; */
    /* color: #16A085;
    border: 2px solid;
    border-color: #16A085; */
    background-color: #16A085;
}
.stat4-2{
    color: whitesmoke;
    /* background-image: linear-gradient(to bottom right,#039BE5 ,#03A9F4); */
    background-color: #73C6B6;
    /* color: #16A085;
    border: 2px solid;
    border-color: #16A085; */
}
.stat5{
    color: whitesmoke;
    /* background-image: linear-gradient(to right,#03A9F4 ,#29B6F6); */
    /* background-color: #03A9F4; */
    /* color: #2ECC71;
    border: 2px solid;
    border-color: #2ECC71; */
    background-color: #2ECC71;
}
.stat5-2{
    color: whitesmoke;
    /* background-image: linear-gradient(to right,#03A9F4 ,#29B6F6); */
    background-color: #82E0AA;
    /* color: #2ECC71;
    border: 2px solid;
    border-color: #2ECC71; */
}
.stat6{
    color: whitesmoke;
    /* background-image: linear-gradient(to right,#29B6F6 ,#4FC3F7); */
    /* background-color: #E59866; */
    /* color: #F39C12;
    border: 2px solid;
    border-color: #F39C12; */
    background-color: #F39C12;
}
.stat6-2{
    color: whitesmoke;
    /* background-image: linear-gradient(to right,#29B6F6 ,#4FC3F7); */
    background-color: #F8C471;
    /* color: #F39C12;
    border: 2px solid;
    border-color: #F39C12; */
}
.stat7{
    /* color: #039BE5; */
    color: black;
    /* border-right: 2px solid;
    border-color: #039BE5; */
}
.repcard{
    border: 2px solid;
    border-color: #808B96;
    /* background-color: #F8F9F9; */
}
.rightpanel{
    background-color: white;
}
.statnum{
    font-size: 1rem;
}
.badge-outlined{
    background-color: transparent;
}
.badge.badge-outlined.badge-success {
    border: 2px solid;
    border-color: #5cb85c;
    color: #5cb85c;
}
.badge.badge-outlined.badge-danger {
    border: 2px solid;
    border-color: 	#d9534f;
    color: 	#d9534f;
}